{{ if .Site.Params.projects.enable | default false }}
<section id="projects" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.projects.title | default "Projects" }}</h3>
        <div class="row justify-content-center px-3 px-md-5">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Latest blog post"></button>
                    {{ range $index, $item := .Site.Params.projects.items }}
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ math.Add $index 1 }}" aria-label="{{ .title }}"></button>
                    {{ end }}
                </div>
                <div class="carousel-inner">
                    {{ range $index, $item := .Paginator.Pages }}
                    {{ if eq $index 0 }}
                    <div class="carousel-item {{ if eq $index 0 }} active {{end}}">
                        <a class="btn btn-lg" href="{{ .RelPermalink }}">
                            <img src="{{ .Params.image }}" class="d-block w-100" alt="...">
                        </a>
                        <div class="carousel-caption d-none d-md-block">
                            <div class="black-shade py-2">
                                <h4 class="fs-1">{{ .Params.title }}</h4>

                                <div class="card-footer py-3">
                                    <span class="mt-1 mx-2">
                                        <a class="btn btn-lg" href="{{ .RelPermalink }}">
                                            Read latest blog post
                                        </a>
                                    </span>
                                </div>

                                <p> {{ .Summary | plainify | truncate 100 }} </p>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                    {{ end }}
                    {{ range $index, $item := .Site.Params.projects.items }}
                    <div class="carousel-item">
                        {{ if .imagelink }}
                        <a href="{{ .imagelink }}"{{ if and (ne .title "Blog") (ne .title "Professional Links") }} target="_blank"{{ end }}>
                        {{ end }}
                            <img src="{{ .image }}" class="d-block w-100" alt="...">
                        {{ if .imagelink }}
                        </a>
                        {{ end }}
                        <div class="carousel-caption d-none d-md-block">
                            <div class="black-shade py-2">
                                <h4 class="fs-1">{{ .title }}</h4>

                                {{ if or (.links) (.featured) }}
                                <div class="card-footer fs-2 py-3">
                                    {{ range .links }}
                                    <span class="mt-1 mx-2">
                                        <a href="{{ .url }}" target="_blank">
                                            <i class="{{ .icon }}"></i>
                                        </a>
                                    </span>
                                    {{ end }}
                                    {{ if .featured }}
                                    <span class="mt-1 mx-2">
                                        <a class="btn" href="{{ .featured.link }}" target="_blank">
                                            {{ .featured.name }}
                                        </a>
                                    </span>
                                    {{ end }}
                                </div>
                                {{ end }}

                                <p>{{ .content }}</p>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


            {{ range $index, $item := .Paginator.Pages }}
            {{ if eq $index 0 }}
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card my-3 h-100" title="{{ .Params.title }}">
                    <div class="card-head">
                        <a class="btn btn-sm" href="{{ .RelPermalink }}">
                            <img class="card-img-top" src="{{ .Params.image }}" alt="{{ .Params.title }}">
                        </a>
                    </div>
                    <div class="card-body bg-transparent p-3">
                        <h5 class="card-title bg-transparent mt-1">{{ .Params.title }}</h5>
                        <div class="card-text bg-transparent secondary-font">
                            {{ .Summary | plainify | truncate 100 }}
                        </div>
                    </div>
                    <div class="card-footer py-3">
                        <span class="float-end">
                            <a class="btn btn-sm" href="{{ .RelPermalink }}">
                                Read latest blog post
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            {{ end }}
            {{ end }}
            {{ range .Site.Params.projects.items }}
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card my-3 h-100" title="{{ .title }}">
                    <div class="card-head">
                        {{ if .imagelink }}
                        <a href="{{ .imagelink }}"{{ if and (ne .title "Blog") (ne .title "Professional Links") }} target="_blank"{{ end }}>
                        {{ end }}
                            <img class="card-img-top" src="{{ .image }}" alt="{{ .title }}">
                        {{ if .imagelink }}
                        </a>
                        {{ end }}
                    </div>
                    <div class="card-body bg-transparent p-3">
                        <div class="pb-2 bg-transparent">
                            {{ range .badges }}
                            <span class="badge badge-secondary">{{ . }}</span>
                            {{ end }}
                        </div>
                        <h5 class="card-title bg-transparent mt-1">{{ .title }}</h5>
                        <div class="card-text bg-transparent secondary-font">
                            {{ .content }}
                        </div>
                    </div>
                    {{ if or (.links) (.featured) }}
                    <div class="card-footer py-3">
                        {{ range .links }}
                        <span class="m-1 mx-2">
                            <a href="{{ .url }}" target="_blank">
                                <i class="{{ .icon }}"></i>
                            </a>
                        </span>
                        {{ end }}
                        {{ if .featured }}
                        <span class="float-end">
                            <a class="btn btn-sm" href="{{ .featured.link }}" target="_blank">
                                {{ .featured.name }}
                            </a>
                        </span>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
