<meta name="kind" content="{{ .Kind }}">
<meta name="keywords"
  content="julia,julia language,julia programming,optimization,research software engineer,software best practices" />
<meta property="og:site_name" content="{{ $.Site.Title }}" />
<meta property="og:title" content="{{ $.Site.Title }}" />
<meta name="twitter:site" content="@abel_siqueira" />
<meta name="twitter:creator" content="@abel_siqueira" />
<meta name="theme-color" content="#1a202c">

{{ if or .IsHome .IsPage .IsSection }}
{{ if .IsHome }}
<title>{{ $.Site.Title }}</title>
{{ else }}
<title>{{ .Title }} | {{ $.Site.Title }}</title>
{{ end }}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Summary }}" />
<meta name="description" content="{{ .Summary }}" />
<meta property="twitter:title" content="{{ .Title }}" />
<meta property="twitter:description" content="{{ .Summary }}" />
<meta property="article:author" content="your-name" />
<meta property="article:published_time" content="{{ .Date }}" />
<!-- Alpha -->
{{ else if eq .Kind "term" }}
<title>{{ .Kind }} Tag {{ .Data.Term }} | {{ $.Site.Title }}</title>
<meta name="twitter:card" content="summary" />
<meta property="og:description" content="Posts including tag {{ .Data.Term }}" />
<meta name="description" content="Posts including tag {{ .Data.Term }}" />
{{ end }}

<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/pcooksey/bibtex-js@1.0.0/src/bibtex_js.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WS6K0SDB05"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-WS6K0SDB05');
</script>
