.cover {
  background-position: 100%;
}

.black-tint {
  background-color: rgba(0, 0, 0, 0.7);
}

ul, p {
  text-align: justify;
}

.tag {
  height: 32px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid black;
  background-color: #090932;
  color: white;
}

tr:nth-child(even) {
  background-color: #e9e9f2;
}

th, td {
  padding: 2px 5px;
}
